<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SportClubDb"
         connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=sport_club;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
